:root {
  --primaru-brand-color: #4d5ae5;
  --subtle-text: #8e8f99;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --text-footer-color: #e7e9fc;
  --subtle-text-color: #ffffff;
  --light-color: #f4f4fd;
  --success-color: #31d0aa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*=================================================скидання базових стилів============================================= */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
justify-content: center;
}

.list-team{
  flex-wrap: wrap;
  row-gap: 72px;
}
.list-menu{
  list-style: none;
  display: flex;

}
.container {
  max-width: 100%;
  width: 480px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 15px;
 padding-right: 15px;
}
.list-mevu-text{

}
.menu-text{
  font-family: 'Roboto';

font-weight: 700;
font-size: 36px;
line-height: calc(40 / 36);
letter-spacing: 0.02em;
color: var(--dark-color);
}
.menu-text:not(:last-child){
  margin-bottom: 40px;
}


.tel-menu{
  font-family: 'Roboto';

font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
color:var(--primaru-brand-color);
margin-bottom: 40px;

}
.mail-menu{
  font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color:var(--text-color);
}
.menu-flex{

  /* flex-direction:column; */
  justify-content:space-between;
  }


button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*===================================================== hader===================================================== */

/* nav */
.page-header {
  padding-top: 24px;
  display: flex;
  align-items: center;
  height: 70px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px; 
}
@media screen and (min-width:768px) {

  
}
@media screen and (min-width:1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px; 
  }
  
}
.visualiy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}



.box {  border-bottom: 1px solid var(--text-footer-color);
  padding-bottom: 25px;
}
.page-nav {
  display: flex;
}

.logo-right {
  margin-right: 76px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  
}

.text {
  font-family: "Roboto", "sens-serif";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.logo-left {
  font-family: "Raleway", "sens-serif";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--pressed-state-color);
  text-transform: uppercase;
}

.logo-right {
  font-family: "Raleway", "sens-serif";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}
/* .menu {
  display: none;
} */
.menu-link {
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
 padding: 29px 0; 
  transition: color 250ms var(--timing-function);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.activ-menu-link {
  position: relative;
}

.activ-menu-link::after {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  margin: auto;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
  transition: width 250ms var(--timing-function);
}

.list-social {
  list-style: none;
}



/* =====================================================adress===================================================== */
.contact-mail {
  display: none;
}
.contact-phone-number {
  display: none;
}
.heder-address{
  display: none;
}

.mobil-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: auto;

}

.mobile-menu{
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 796px;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--subtle-text-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition:  opacity 250ms var(--timing-function),  visibility 250ms var(--timing-function);
}
.mobile-menu-container{
  position: relative;
  flex-direction: column;
   justify-content: space-between;
  padding: 80px 35px 40px 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--subtle-text-color);

}

.adress-menu{
  margin-bottom: 48px;
  
}



.mobile-menu-close-btn{
   position: absolute; 
  top: 24px;
  right: 24px;
  background-color: var(--text-footer-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
    width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.list-mevu-text{
  justify-content: space-between;

}
.menu-social-list-menu{}

.list-menu-nav {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  list-style: none;
}

.footer-socil {
  display: block;
  margin-bottom: 72px;
  }




/*===================================================== section 1 hero =====================================================*/
.hero-color {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/people-office-mob.jpg);

  background-size: cover;
  text-align: center;
  background-color: var(--dark-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  
  padding-left: 0;
  padding-right: 0;
  max-width: 1440px;
}
 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-color {
      max-width: 480px;
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/people-office-mob@2x.jpg);
    }
} 




 @media screen and (min-width:481px) {
  .hero-color {
    padding-top:112px;
  padding-bottom: 112px; 
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/people-office-tabl.jpg);
}
} 
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-color {
      max-width: 768px;
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/people-office-tabl@2x.jpg);
    }
} 

  @media screen and (min-width:769px) {
    .hero-color {
      max-width: 1600px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/icons/people-office.jpg);}}

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          .hero-color {
            padding-top: 188px;
  padding-bottom: 188px; 
            max-width: 1600px;
            background-image: linear-gradient(
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)
            ),
            url(../images/icons/people-office-comp@2x.jpg);
          }}
.main-title {
  font-family: "Roboto", "sens-serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--subtle-text-color);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.modal-btn {
  display: inline-block;
  padding: 16px 32px;
  border: 1px;
  border-radius: 4px;
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  transition: background-color 250ms var(--timing-function);
  background-color: var(--primaru-brand-color);
  margin-top: 48px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
}

/* =====================================================section 2 =====================================================*/
.icon {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: var(--light-color);
  border-radius: 4px;
}
.hide {
  display: none;
}
.course {
 display: block;
      row-gap: 72px;

}
.title-third-course{
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
color:var(--dark-color);
margin-bottom: 8px;
}


.title-course-tel {
  text-align: center;
  margin-bottom: 8px;
  max-width: 396px;
}

.title-secondaru {
  text-align: center;
  font-family: "Roboto", "sens-serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 72px;
}

/* =====================================================section 3 =====================================================*/

.what-are-we-doing-section {
  display: none;
}
.title-third {
  margin-bottom: 8px;
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.remove-retreat {
  padding-top: 0;
}

.list-card:not(:nth-child(3n)) {
  margin-right: 24px;
  flex-basis: calc((100%-2 * 24px) / 3);
}
/* =====================================================section 4 =====================================================*/
.text-team {
  margin-bottom: 8px;
}
.team {
 
  
   
}
.section-four {
  background-color: var(--light-color);

  margin-left: auto;
  margin-right: auto;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primaru-brand-color);
  transition: background-color 250ms var(--timing-function);
}
.social-list {
  display: flex;
  gap: 24px;



}
.text-course{
  font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color:var(--text-color);

}
.social-list-menu {
  display: flex;
  justify-content:space-between;

}




.social-list-icon {
  fill: var(--light-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}



.container-shawod {

  padding-bottom: 32px;
  border: 1px solid var(--text-footer-color);
  border-radius: 0 0 4px 4px;
  border-top: 0px;
  padding-top: 32px;
  background-color: var(--subtle-text-color);
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  box-shadow: 0 1px 1px 0 rgba(46, 47, 66, 0.16);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.mobile-menu-open_icon{
width: 32px;
height: 32px;
}
/* =====================================================section 5=====================================================*/
.title-fifth {
  text-align: center;
  font-family: "Roboto", "sens-serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.company-list {
  /* display: flex; */
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.company-list-icon {
  transition: fill 250ms var(--timing-function);
  fill: var(--subtle-text);
}

.company-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  transition: border-color 250ms var(--timing-function);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
}
.company-list-item{
  flex-wrap: wrap;
   /* flex-basis: calc((100% - 24px) / 2); */
}

.company-list-link:hover,
.company-list-link:focus {
  border-color: var(--pressed-state-color);
}
.company-list-link:hover .company-list-icon,
.company-list-link:focus .company-list-icon {
  fill: var(--pressed-state-color);
}
/* =====================================================footer =====================================================*/

.text-footer {
  font-family: "Roboto", "sens-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-footer-color);
  width: 264px;
  margin-bottom: 72px;
align-items: center;
display: block;
margin-left:auto ;
margin-right: auto;
}

  .course-colum:not(:last-child){
 
    margin-bottom: 72px;
   } 


.title-third-footer {
  margin-bottom: 17px;
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtle-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.mail-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-social {
  list-style: none;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-list-icon {
  fill: var(--subtle-text-color);
}


.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--success-color);
}
.text-footer-socil {
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5%;
  letter-spacing: 0.02em;
  color: var(--subtle-text-color);
  margin-bottom: 17px;
}



.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content:center;

}
.entrance {
  margin-bottom: 17px;
  display: block;
  text-align: center;
}

.logo-right-footer {
  color: var(--subtle-text-color);
}

.footer {
  display: flex;
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: baseline;
}
.subscrib-colum {
}
.modal-form-input-footer {
 width: 264px; 
 max-width:100%;
  height: 40px;
  outline: none;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid var(--subtle-text-color);

  /* transition: border-color 250ms var(--timing-function); */
}
.footer-br-mail {
  background-color: var(--dark-color);
}
.modal-form-mail-footer::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}
.modal-form-mail-footer {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.mail-btn {
  display: flex;
   gap: 24px; 
   flex-wrap: wrap;
}

.footer-tel {
}
.modal-btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: 1px;
  border-radius: 4px;
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  transition: background-color 250ms var(--timing-function);
  background-color: var(--primaru-brand-color);
 
}

.modal-btn-footer:hover,
.modal-btn-footer:focus {
  background-color: var(--pressed-state-color);
}
.footer-icon-telegr {
  fill: var(--subtle-text-color);
  margin-left: 16px;
}
/* =====================================================portfolio =====================================================*/

.struktur-link {
  padding: 12px 24px;
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms var(--timing-function),
  background-color 250ms var(--timing-function);
  color: var(--primaru-brand-color);
  border: 1px solid var(--light-color);
  border-radius: 4px;
  border-color: var(--text-footer-color);
  /* line-height: 0; */

}
.wrapper-btn{
 flex-wrap: wrap;
 margin-bottom: 72px;
  gap: 24px 24px;
}


.btn-padding:last-child {
  margin-right: 0;
}

.struktur-link:hover,
.struktur-link:focus {
  color: var(--subtle-text-color);
  background-color: var(--pressed-state-color);
}

.portfolio-img-pad {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-card {
  /* flex-basis: calc((100%-2 * 24px) / 3); */
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-card-content-wrapper {
  padding-bottom: 32px;
  border: 1px solid var(--text-footer-color);
  border-top: 0px;
  padding-top: 32px;
  background-color: var(--subtle-text-color);
  padding-left: 16px;
  padding-right: 16px;
}
.card-title {
  text-align: center;
}
.title-two {
  margin-bottom: 8px;
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.card {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.card:hover,
.card:focus {
  box-shadow: 5px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-card-portfolio {
  display: block;
}
.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translate(0, 100%);
  transition: transform 250ms var(--timing-function);

  overflow: auto;
  padding: 40px 32px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--primaru-brand-color);
}
.card:hover .overlay,
.card:focus .overlay {
  transform: translate(0, 0);
}

/* ===========================================modal window===================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn-footer{
  margin-left: auto;
  margin-right: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100wh;
  min-height: 558px;
  width: 408px;
  transition: tranform 250ms var(--timing-function);
  background-color: var(--subtle-text-color);
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0.6);
}
.modal-clase-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--text-footer-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border 250ms var(--timing-function);
}
.modal-clase-btn:hover,
.modal-clase-btn:focus {
  background-color: var(--pressed-state-color);
}
.modal-close-btn-icon {
  height: 8px;
  width: 8px;
  transition: fill 250ms var(--timing-function);
}
.modal-clase-btn:hover .modal-close-btn-icon,
.modal-clase-btn:focus .modal-close-btn-icon {
  fill: var(--subtle-text-color);
}
/* ===========================================modal form===================== */
.title-backdrop {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
  /* margin-top: 48px; */
}
.open-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--subtle-text);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 24px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms var(--timing-function);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--primaru-brand-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-field {
  margin-bottom: 8px;


}
.modal-form-field-checkbox {
  margin-bottom: 16px;
}
.modal-form-message {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 8px 16px;
  resize: none;
  width: 100%;
  border-radius: 4px;
  height: 120px;
  transition: border-color 250ms var(--timing-function);
}
.modal-form-message:fmain-titleocus {
  outline: none;
  border-color: var(--primaru-brand-color);
}

.modal-form-imput-icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 19px;
  transition: fill 250ms var(--timing-function);
}
.modal-form-input:focus + .modal-form-imput-icon {
  fill: var(--primaru-brand-color);
}
.modal-form-message::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-message {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--text-color);
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../images/icons/click.jpg);
  background-size: cover;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}
.modal-form-submit {
  display: inline-block;
  align-self: center;
  padding: 10px 52px;
  border: 1px;
  border-radius: 4px;
  font-family: "Roboto", "sens-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  transition: background-color 250ms var(--timing-function);
  background-color: var(--primaru-brand-color);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--pressed-state-color);
}

.course {
   gap: 72px 24px;
}


/* ===========================@modal+++++=========================== */

/* ====================================heder================================================== */

.addres {
  display: none;
}
 


@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  
  
}




@media screen and (min-width: 768px) {
 
 
  .mobil-menu-open {
    display: none;
  }
  .menu-item {
    display: flex;
  }

}
@media screen and (min-width: 768px) and (max-width: 1199px) {
   .container {
    width: 768px;
     align-items: center; 
  } 
  .entrance {
    margin-bottom: 17px;
    display: block;
    text-align: start;
  }
  .page-header{
    padding-top: 0;
    padding-bottom: 0;
    height: 72px;
  }

  .text-footer {
  
    margin-bottom: 0;
  

  }

  .course-colum:not(:last-child){
    margin-bottom: 0px;
   } 
 
  .title-third-footer {
   
    text-align: start;
  
  }
  .mail-btn{
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .modal-close-icon-menu{
  display: none;
  }
  .main-title { 
     min-width: 496px;
  

    }
  .page-nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .container-footer {
  
    padding-left: 108px;
    padding-right: 108px;
    }
  .title-course-tel {
    text-align:start;
    margin-bottom: 8px;
    max-width: 396px;
  }
  
  .heder-address {
    display: block;
      }
  .addres{
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
  }
  .contact-mail {
    margin-right: 0;
  display: block;
    font-family: "Roboto", "sens-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 12px; 
    padding-top: 0;
  
  }
  .contact-phone-number {
    display: block;
    font-family: "Roboto", "sens-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  
  .list-course {
    list-style: none;
    display: flex;

   
  }

  .course {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .course-colum{
    flex-basis: calc((100% - 24px) / 2);
  }
  
  .list-team{
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;

     }
  .team {
     
        flex-basis: calc((100% - 24px) / 2);
     max-width: 264px;
    }
    .company-list{
      gap:  72px  24px;
      flex-wrap: wrap;


    }
    
    .company-list:nth-child(3){
      margin-right: 24px;
    }
    .container-footer {
      display: flex;
      flex-wrap: wrap;
      gap: 72px 24px;
    }
 

    .mail-btn{
      display: flex;
      justify-content:center;
      align-items: start;
    }
  
  }

  

  .btn-padding {
    margin-right: 24px;
    margin-bottom: 72px;
  } 
  .portfolio-card {
   flex-wrap: wrap;
}








@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  
  
  }
  .course-colum{
    margin: bottom 0;

  }
  .text-footer {
  
    margin-bottom: 0;
  

  }
   .course-colum:not(:last-child){
    margin-bottom: 0px;
   } 
  .page-header{
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    
  }
  .logo-left{
    display: flex;
    align-items: center;
  }
 
    .modal-close-icon-menu{
    display: none;
    }
    .title-third-footer {
   
      text-align: start;
    
    }

    .heder-address {
      display: block;
        }
    .addres{
      display: flex;
      align-items: center;
      margin-left: auto;
      flex-direction: row;
    }
   .main-title {
    font-family: "Roboto", "sens-serif";
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--subtle-text-color);
    min-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .icon {
    display: flex;
  }
  .course {
    display: flex;
    column-gap: 24px;
  }
  .title-course-tel {
    text-align: start;
    
  }
  .text-course-comp {
    max-width: 264px;
    text-align: start;
  }
  .what-are-we-doing-section {
    display: block;
    background-color: var(--subtle-text-color);
  }
  .list-team{
        column-gap: 24px;

     }

     .modal-form-field {
      margin-bottom: 0;}
     
  .team {
     
        flex-basis: calc((100% - 3 * 24px) / 4);
        max-width: 264px;
    }
 
  .company-list {
    display: flex;
    flex-wrap: nowrap;
       flex-basis: calc((100% - 5 * 24px) / 6);

    }
    .container-footer {
      display: flex;
      
    }
    .contact-mail {
      display: block;
         font-family: "Roboto", "sens-serif";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color); 
        margin-left: auto;
         margin-right: 40px; 
      }
      .contact-phone-number {
        display: block;
        font-family: "Roboto", "sens-serif";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
      }
      .footer-socil {
        display: block;
        margin-right: 80px;
        margin-left: 120px;
        
        
      }
      .entrance {
        margin-bottom: 17px;
        display: block;
        text-align: start;
  }
 

  .mail-btn {
    display: flex;
    gap: 24px;
  }
  
   
    .btn-padding {
      margin-right: 24px;
      margin-bottom: 72px;
    }
    .page-header {
      display: flex;
      align-items: center;
      height: 72px;
      }
   
  }




.addres {
  display: flex;
  align-items: center;
   margin-right: auto; 
}

/* ==================================================hero======================================== */











